# Why isn't this done by the main UI workflow?
name: Module descriptor verifier (e.g. permission names)
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  verify-md:
    needs: [set-shared-variables, generate-module-descriptor]
    # if: ${{ inputs.generate-module-descriptor && inputs.publish-module-descriptor && needs.set-shared-variables.outputs.is-release == 'True' }}
    uses: ./.github/workflows/ui-module-descriptor-verify.yml
    with:
      okapi-pull-contents: '{"urls": ["https://folio-registry.dev.folio.org"]}'
    secrets:
      docker-username: ${{ secrets.DOCKER_USER }}
      docker-password: ${{ secrets.DOCKER_PASSWORD }}
